services:
  server:
    image: itzg/minecraft-server
    environment:
      EULA: "TRUE"
      TYPE: "AUTO_CURSEFORGE"
      MEMORY: "4G"
      ENABLE_RCON: "true"
      RCON_PASSWORD: ${RCON_PASSWORD:-supersecret}
      ENABLE_QUERY: "true"
      MOTD: "beppo"
      DIFFICULTY: normal
      MODE: survival
      CF_API_KEY: ${CF_API_KEY}
      CF_SLUG: all-the-mods-10-sky
      WHITELIST: |
        FashleHD
        Dailvorn
      OPS: |
        FashleHD
    volumes:
      - data:/data
    networks:
      - mc-router
    labels:
      mc-router.host: "atmsky.mc.dummsuff.com"

    # no backup, modpack includes its own backups

volumes:
  data:

networks:
  mc-router:
    external: true
